* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: yellowgreen;
  padding: 30px;
  font-size: 25px;
  width: 400px;
  text-align: center;
  margin: 100px auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}