/* h1 {
  background-color: aquamarine;
}

h2 {
  text-align: right;
  color: rgb(123, 200, 120);
  font-family: monospace;
  font-size: 30px;
  background-color: rgb(220, 20, 60);
  font-weight: 500;
} */

img {
  width: 100px;
}

.span-1 {
  background-color: red;
  color: white;
}

.span-2 {
  background-color: green;
  color: black;
}

a {
  text-decoration: underline dotted;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

ol {
  list-style: none;
}